@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0c1421;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font: var(--font-montserrat);
  --color-secondary: #313957;
  --color-blue: #1e4ae9;
  --color-stroke: #d4d7e3;
  --color-background-input: #f3f7fb;
  --color-placeholder: #8897ad;
  --color-background-button: #162d3a;
  --color-copyright: #959cb6;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
